@media screen and (min-width: 568px){
    .nav-bar{width: 300px;}
    .scroll-nav>h3{display:inline-block; width: calc(90% / 3);}
    .nav-icon-container .logo-container .spoty-logoS{display: none;}
    .nav-icon-container .logo-container .spoty-logoB{display: block;}
    ul li a h3{display: inline-block;}
    .top-part-nav ul li i{margin:0;margin-left: 1rem;}
    .bot-part-nav li i{margin:0;margin-left: 1rem;}
 
} 



@media screen and (min-width: 768px){
    .scroll-nav>h3{display:inline-block; width: calc(90% / 5);}
}





@media screen and (min-width: 992px){
    .scroll-nav>h3{display:inline-block; width: calc(90% / 6);}
    .scroll-nav{width: 80%;}
} 