@media screen and (min-width: 568px){
    .nav-bar{width: 300px;}
    .scroll-nav>h3{display:inline-block; width: calc(90% / 3);}
    .spoty-logoS{display: none;}
    .spoty-logoB{display: block;}
 
} 



@media screen and (min-width: 768px){
    .scroll-nav>h3{display:inline-block; width: calc(90% / 5);}
}





@media screen and (min-width: 992px){
    .scroll-nav>h3{display:inline-block; width: calc(90% / 6);}
    .scroll-nav{width: 80%;}
} 